.login-container {
  background: url('/images/background-login.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.login-box {
  background-color: rgba(33, 37, 41, 0.9); /* bg-dark con opacidad */
  padding: 2rem;
  border-radius: 1rem;
  color: white;
  width: 100%;
  max-width: 400px;
}

.brand {
  color: #6da4f7;
  font-weight: bold;
}

.input-group-text {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.form-control {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
